        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body styles */
        body {
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            background-color: #f8f9fa;
            color: #333;
        }

        /* Container styles */
        .container {
            max-width: 1100px;
            margin: 0 auto;
            padding: 0 10px;
        }

        /* Navbar styles */
        .navbar {
            background-color: antiquewhite;
            color: #333;
            border-bottom: 1px solid #ddd;
            padding: 20px 0;
        }

        .navbar .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            color: #333;
            font-size: 2rem;
        }

        .nav-links {
            list-style-type: none;
        }

        .nav-links li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-links li a {
            color: #333;
            text-decoration: none;
            font-size: 1.2rem;
        }

        /* Hero section styles */
        .hero {
            text-align: center;
            padding: 100px 0;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .hero h1 {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 1.2rem;
        }

        /* Blog section styles */
        .blog {
            padding: 80px 0;
        }

        .blog-post {
            margin-bottom: 40px;
            padding: 1px 5px 5px 1px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .blog-post img {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .blog-post h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .blog-post p {
            font-size: 1.1rem;
        }

        .content-image {
            width: 100%;
            max-width: 600px;
            height: auto;
        }

        /* About section styles */
        .about {
            background-color: antiquewhite;
            color: #333;
            padding: 80px 0;
        }

        .about h2 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .about p {
            font-size: 1.1rem;
            margin-bottom: 20px;
        }

        /* Footer styles */
        .footer {
            background-color: #fff;
            color: #333;
            text-align: center;
            padding: 20px 0;
            border-top: 1px solid #ddd;
        }
